* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ,...hình tròn, hình vuông) */


html {
    font-family: 'Times New Roman', Times, serif;
    
}
#main {

}
/* Từ ngoài vào trong, từ trên xuống dưới, từ tổng quan đến chi tiết */
#header {
    height: 46px;
    background-color: #000;
}
#nav > li {
    display: inline-block;
    
}
#nav, .subnav {
    list-style-type: none;
}
#nav li {
    /* display: inline-block; */
    position: relative;
    
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    
    background-color: #ccc;
    color: #000;
}

#subnav {

}

#subnav li {

}
#subnav li {

}
