* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ,...hình tròn, hình vuông) */


html {
    font-family: 'Times New Roman', Times, serif;
    
}

.clear {
    clear: both;
}
#main {

}
/* Từ ngoài vào trong, từ trên xuống dưới, từ tổng quan đến chi tiết */
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}
#nav > li {
    display: inline-block;
    
}

.nav {
    display: inline-block;
}
.nav-arrow-down {
    font-size: 12px;
}
#nav, .subnav {
    list-style-type: none;
}
#nav li {
    /* display: inline-block; */
    position: relative;
    
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    
    background-color: #ccc;
    color: #000;
}

#subnav {

}

#subnav li {

}
#subnav li {

}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #333;
    
}

#header .search-btn {
    
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 10px;
}

#header .search-btn:hover {
    background-color: #f44366;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/asset/img/slider-change.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    /* cách căn giữa: c1 */
    color: #fff;
    /* left: 50%;
    transform: translate(-50%);
    text-align: center; */

    /* ans 2: how to center */
    /* width: 100%; */
    /* text-align: center; */

    /* ans3:  */
    left: 0;
    right: 0;
    text-align: center;
}

#slider .text-heading {
    font-size: 600;
    margin-top: 25px;

}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}


#content .content-section .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .content-section .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    list-style: 1.4;
}
#content .content-section .section-heading,
#content .content-section .section-sub-heading {
    text-align: center;

}

/* phan about member */
#content .band-list {
    margin-top: 48px;
}

#content .band-member {
    float: left;
    width: 33.3333333%;
    text-align: center;

}
#content .member-name {
    font-size: 15px;
}
#content .member-img {
    margin-top:15px;
    width: 154px;
    border-radius: 5px;
    
}