* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ,...hình tròn, hình vuông) */

/* COMMON */
html {
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
    
}

.clear {
    clear: both;
}

.text-white {
    color: #ffff;
    cursor: pointer;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.333333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.pull-right {
    float: right !important;
}
.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;

}  
.btn:hover {
    background-color: #f44336;
}
/* Main */
#main {

}
/* Từ ngoài vào trong, từ trên xuống dưới, từ tổng quan đến chi tiết */
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}
#nav > li {
    display: inline-block;
    
}

.nav {
    display: inline-block;
}
.nav-arrow-down {
    font-size: 12px;
}
#nav, .subnav {
    list-style-type: none;
}
#nav li {
    /* display: inline-block; */
    position: relative;
    
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    
    background-color: #ccc;
    color: #000;
}

#subnav {

}

#subnav li {

}
#subnav li {

}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #333;
    
}

#header .search-btn {
    
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 10px;
}

#header .search-btn:hover {
    background-color: #f44366;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/asset/img/slider-change.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    /* cách căn giữa: c1 */
    color: #fff;
    /* left: 50%;
    transform: translate(-50%);
    text-align: center; */

    /* ans 2: how to center */
    /* width: 100%; */
    /* text-align: center; */

    /* ans3:  */
    left: 0;
    right: 0;
    text-align: center;
}

#slider .text-heading {
    font-size: 600;
    margin-top: 25px;

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
}


#content .content-section .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .content-section .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    list-style: 1.4;
}
#content .content-section .section-heading,
#content .content-section .section-sub-heading {
    text-align: center;

}

/* phan about member */
#content .band-list {
    margin-top: 48px;
}

#content .band-member {
    float: left;
    width: 33.3333333%;
    text-align: center;

}
#content .member-name {
    font-size: 15px;
}
#content .member-img {
    margin-top:15px;
    width: 154px;
    border-radius: 5px;
    
}
/* tour section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}
.ticket-list li {
    color: #757575;
    list-style-type:none;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom:1px solid #ddd ;
}
.ticket-list .sold-out {

    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;

}
/* end tour section */

/* places */

#content .places-list {
    margin-top: 32px;
   
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 48px;
}
.place-item {
    float: left;
    width: 33.333333%;
    padding: 0 8px;
}   

.place-img {
    width: 100% !important;
    
}
.place-img:hover {
    opacity: 0.8;    
}
.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #ffff;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}
.place-time {
    margin-top: 15px;
    color: #757575;
}
.place-desc {
    margin-top: 15px;
    line-height: 1.4;

}
.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;

}  
.place-buy-btn:hover {
    background-color: #f44336;
}
/* Styles for Places Section */

/* places */
/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background: #ffff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn ease 0.7s;
    
}
.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon  {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;

}
.modal-body {
    padding: 16px;
}
.modal-close:hover {
    opacity: 1;
    background-color: #f44336;
}
.label-body {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    /* margin-top: 12px ; */

}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 12px;
    margin-bottom: 24px;
}

#buy-tickets:hover {
    opacity: 0.8;

}
#buy-tickets {
    width: 100%;
    background: #009688;
    border: none;
    padding: 10px;
    color: #ffff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    
}

.modal-footer {
    padding: 16px;
    text-align: right;
    /* color: #2196f4; */
}
.modal-footer a {
    
    color: #2196f4;
}
/* End modal */

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

/* contact form */
.contact-content {
    margin-top: 48px;
    line-height: 1.4;
}
.contact-info i[class*='ti-'] {
    width: 30px;
    /* display: inline-block; */
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* .contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: right;
   
} */
/* end contact form */
/* Map section */
.map-section {
    width: 100%;
}
/* End map section */

/* Footer */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;

}
#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    
}

#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    
}
#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
    
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);

    text-decoration: none;
}

#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.2);

    text-decoration: none;
}