body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-size: 80px;
}

.pc, .tablet,
.mobile {
  font-size: 68px;
  display: none;
}
/* PC */
@media (min-width: 1024px) {
  .pc {
    display: block;
    background-color: red;
    
  }
  
}
/* BREAK POINT */
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet {
    display: block;
    background-color: green;
  }
  
}

/* Mobile */
@media (max-width: 767px) {
  .mobile {
    display: block;
    background-color: yellow;
  }
  .pc, .tablet {
    display: none;
  }
} 
