:root {
  --primary-color: #ee4d2b;
  --primary-color-rgba: rgba(238, 75, 43, 0.8);
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}
* {
  box-sizing: inherit;
  margin:0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; /*Can giua khi nam trong khoi khac*/
}

.grid__full-width {
  width: 100%;

}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
  }
  
}