
.header {
  width: 100%;
  height: 120px;
  background-image: linear-gradient(0, #fe6463, #f53e2d);
}

.navbar-list {
  list-style-type: none;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}
.navbar-list {
  margin: 16px 0 0 0;
}
.navbar-item, .navbar-link {
  display: inline-block;
 
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 400;
  
  
}

.navbar-item, .navbar-link, .navbar-icon-link {
  display: inline-flex;
  align-items: center;

}
.navbar-item:hover,
 .navbar-link:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.navbar-link--strong {
  font-weight: 700;
}
.navbar-link--seperate::after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  border-left: 1px solid #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-icon-link {
  color: #fff;
  text-decoration: none;
  margin: 0 4px;
}
.navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-label--no-pointer {
  cursor: default;
  color: var(--white-color);
}

/* Header Qr code */
.navbar-qrcode {
  background-color: var(--white-color);
  position: absolute;
  width: 186px;
  left: 0;
  top: 100%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}
.navbar-qrapp {
  display: flex;
  justify-content: space-between;

}
.qr-image {
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.navbar-qr-link:nth-child(1) {
  margin-left: 11px;
}
.navbar-qr-link:nth-child(2) {
  margin-right: 11px;
}
.qr-image-download {
  height: 15px;
}

.navbar-item--has-qr:hover .navbar-qrcode {
  display: block;

}
.navbar-qrcode:before {
  position: absolute;
  content: "";
  left: 0;
  top:118%;
  padding: 8px;
  border-radius:2px ;
  display: block;
}
/* End header qr code */
/* Header notification */
.notify {
  position: absolute;
  top: 110%;
  border: 1px solid #d3d3d3;
  width: 404px;
  right: 0;
  color: var(--white-color);
  background-color: var(--white-color);
  cursor: default;
  animation: headerNotifyGrowth 0.3s ease-in-out forwards;
  transform-origin: calc(100% - 20px) right;
  display: none;
  

}
.notify-header {
  height: 40px;
  background-color: var(--white-color);
  
}

/* .notify--has-notify:hover  {
  display: block;
} */
.notify:hover {
  display: block;
}
.notify-header h3 {
  color: #999;
  margin:0 0 0 12px;
  /* margin-top: 24px; */
  padding-top: 15px;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: text;
}
.notify-list {
  padding-left: 0;
  list-style-type: none;
}
.notify-item {
  display: flex;
}
.notify-item--viewed {
  
}
.notify-link--viewed {
  background-color: rgba(238, 75, 43, 0.08);

}
.notify-link {
  width: 100%;
  text-decoration: none;
  display: flex;
  padding: 12px;
  background-color: rgba(238, 75, 43, 0.08);

  
}
.notify-link:hover {
  background-color: #f1f1f1;
}
.notify-img {
  width: 48px;
  object-fit: contain;

}
.notify-info {
  margin-left: 12px;
  
}
.notify-name {
  display: block;
  font-size: 1.4rem;  
  color:var(--text-color);
  font-weight: 400;
  line-height: 1.6rem;

}

.notify-desc {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #ccc;
  line-height: 1.4rem;
}
.notify-footer {
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  /* margin: auto */
  
}
.notify-footer:hover {
  background-color: #f1f1f1;

}
.notify-footer a {
  list-style-type: none;
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.4rem;
  font-weight: 400;

}

.notify-footer a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.notify-footer-btn {
  font-weight: bold;
}

@keyframes headerNotifyGrowth {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
  
}
.notify-item--has-notify:hover .notify {
  display: block;
}
/* End header notification */