
.header {
  width: 100%;
  height: 120px;
  background-image: linear-gradient(0, #fe6463, #f53e2d);
}

.navbar-list {
  list-style-type: none;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}
.navbar-list {
  margin: 16px 0 0 0;
}
.navbar-item, .navbar-link {
  display: inline-block;
 
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 400;
  
  
}

.navbar-item, .navbar-link, .navbar-icon-link {
  display: inline-flex;
  align-items: center;

}
.navbar-item:hover,
 .navbar-link:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.navbar-link--strong {
  font-weight: 700;
}
.navbar-link--seperate::after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  border-left: 1px solid #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-icon-link {
  color: #fff;
  text-decoration: none;
  margin: 0 4px;
}
.navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-label--no-pointer {
  cursor: default;
  color: var(--white-color);
}

/* Header Qr code */
.navbar-qrcode {
  background-color: var(--white-color);
  position: absolute;
  width: 186px;
  left: 0;
  top: 100%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}
.navbar-qrapp {
  display: flex;
  justify-content: space-between;

}
.qr-image {
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.navbar-qr-link:nth-child(1) {
  margin-left: 11px;
}
.navbar-qr-link:nth-child(2) {
  margin-right: 11px;
}
.qr-image-download {
  height: 15px;
}

.navbar-item--has-qr:hover .navbar-qrcode {
  display: block;

}
.navbar-qrcode:before {
  position: absolute;
  content: "";
  left: 0;
  top:118%;
  padding: 8px;
  border-radius:2px ;
  display: block;
}
/* End header qr code */
